@import "bootstrap3/bootstrap.less";
@import "bootstrap3/my/preloader.less";


#doc-form-holder{
  position:fixed;
  z-index:9999;
  left:0;
  top:0;
  display:block;
  width:100%;
  height:100%;
  background:#fff;
  background:rgba(red(@brand-primary),green(@brand-primary),blue(@brand-primary),0.5);
  padding:@gap*2;
  display:none;
}
#doc-form{
  position:fixed;
  left:5%;
  top:5%;
  width:90%;
  height:90%;
  background:#fff;
  padding:@gap;
  z-index:10000;
  display:none;
  overflow-y:auto;
}


.doc-form{
  .controls{
    padding:@gap*2 0;
  }
  input[type='text']{
    position:relative;
    border-bottom: 2px @brand-primary solid;
    &.error{
      border-color:@link-color-active;
    }
    &.required{
      &:after{
        content:'*';
        color:red;
        font-size:20px;
        position:absolute;
        z-index:10000;
        right:5px;
        top:5px;
      }
    }
  }
p>span{padding:@gap/6 @gap/2; background-color:@brand-bg;}
}